/* variables */
:root {
  --mainBlue: #0766ae;
  --blue: #2894e6;
  --para: #1e1e1e;
}

h2 {
  line-height: 1;
}

/* custom styles */

.myButton {
  min-width: 165px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 28px;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: #FFF;
  border-radius: 14px;
  background-color: #ff482a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11);
  transition: .4s ease;
  cursor: pointer;
}
.myButton:hover {
  background-color: #333;
}

.arrow {
  width: 25px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  background-image: url('../assets/arrow.svg');
  background-repeat: no-repeat;
  animation: arrow 1.5s linear infinite alternate;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}


@keyframes arrow {
  from {
    opacity: .2;
    transform: translate(-50%,-60%)
  } to {
    opacity: 1;
    transform: translate(-50%,-50%)
  }
}